<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Club</title>
</head>
<body>
  <header>
    <h1>Members Club</h1>
    <%- include('partials/userauth') %>
  </header>

  <main>
    <h1>Message Board</h1>

    <div>
      <% if (user) { %>
        <% messages.forEach(message => { %>
          <div>
            <%= message.username %>
            <%= message.title %>
            <%= message.text %>
            <%= message.dateFormatted %>
          </div>
        <% }); %>
        <a href="/create-message">Create Message</a>
      <% } else { %>
        <% messages.forEach(message => { %>
          <div>
            <%= message.title %>
            <%= message.text %>
          </div>
        <% }); %>
      <% }; %>
    </div>
    
  </main>
  
</body>
</html>

<!-- Display all member messages on the home page, 
but only show the author and date of the 
messages to other club-members. -->