<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Members Club</title>
</head>
<body>
  <header>
    <a class="header-logo" href="/">
      <h1>Members Club</h1>
    </a>
    <%- include('partials/userauth') %>
  </header>

  <main>
    
    <div class="message-container">
      <h1>Message Board</h1>
      <% if (user && user.member_status) { %>
        <% messages.forEach(message => { %>
          <div class="message-item">
            <p><%= message.username %></p>
            <div class="message-datedelete">
              <p><%= message.dateFormatted %></p>
            <% if (user.admin) { %>
              <a href="/auth/delete-message/<%= message.id %>">Delete</a>
            <% }; %>
            </div>
            <h3><%= message.title %></h3>
            <p><%= message.text %></p>
          </div>
        <% }); %>
      <% } else { %>
        <% messages.forEach(message => { %>
          <div class="message-item">
            <h3><%= message.title %></h3>
            <p><%= message.text %></p>
          </div>
        <% }); %>
      <% }; %>
    </div>
    
  </main>
  
</body>
</html>
