<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Members Club</title>
</head>
<body>
  <header>
    <h1>Members Club</h1>
    <%- include('partials/userauth') %>
  </header>

  <main>
    <h1>Message Board</h1>

    <div>
      <% if (user && user.member_status) { %>
        <% messages.forEach(message => { %>
          <div>
            <%= message.username %>
            <%= message.title %>
            <%= message.text %>
            <%= message.dateFormatted %>
            <% if (user.admin) { %>
              <a href="/auth/delete-message/<%= message.id %>">Delete</a>
            <% }; %>
          </div>
        <% }); %>
      <% } else { %>
        <% messages.forEach(message => { %>
          <div>
            <%= message.title %>
            <%= message.text %>
          </div>
        <% }); %>
      <% }; %>
    </div>
    
  </main>
  
</body>
</html>
