<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <a class="header-logo" href="/">
      <h1>Members Club</h1>
    </a>
    <%- include('partials/userauth') %>
  </header>

  <main>
    
    <div class="form-wrapper">
      <h1><%= title %></h1>

      <div class="form-wrapper header">
        <p>Hey, <%= user.username %>.</p>
        <p>In order to send a message, you need to enter the secret passcode</p>
        <p><i>(The passcode can be found hidden on this page)</i></p>
      </div>
      
      <form action="/auth/join-club" method="post">
        <% if (locals.error) { %>
          <p class="error-item"><%= error %></p>
        <% }; %>
        <label for="passcode">Passcode:</label>
        <input type="password" name="passcode" id="passcode">
        <button type="submit">Join Club</button>
      </form>
      <span class="passcode">supersecretpasscode</span>
    </div>
    
  </main>
  
</body>
</html>