<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Members Club</h1>
    <%- include('partials/userauth') %>
  </header>

  <main>
    <h1><%= title %></h1>
    <p>Hey, <%= user.username %>.</p>
    <p>Enter the passcode to gain access to submit messages</p>
    <p>Passcode is hidden on this page.</p>

    <form action="/auth/join-club" method="post">
      <label for="passcode">Passcode:</label>
      <input type="password" name="passcode" id="passcode">
      <button type="submit">Join Club</button>
    </form>

    <% if (locals.error) { %>
      <p><%= error %></p>
    <% }; %>

    <span>supersecretpasscode</span>
  </main>
  
</body>
</html>