<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Members Club</h1>
    <%- include('partials/userauth') %>
  </header>

  <main>

    <div class="form-wrapper">
      <h1><%= title %></h1>
      <form action="/auth/login" method="post">
        <%- include('partials/errors') %>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="<%= locals.username %>">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
      </form>
    </div>
  </main>
  
</body>
</html>