<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Members Club</h1>
    <%- include('partials/userauth') %>
  </header>

  <main>
    <h1><%= title %></h1>

    <%- include('partials/errors') %>

    <div class="form-container">
      <form action="/auth/register" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" name="first_name" id="firstName" value="<%= locals.first_name %>">
        <label for="lastName">Last Name:</label>
        <input type="text" name="last_name" id="lastName" value="<%= locals.last_name %>">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="<%= locals.username %>">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= locals.email %>">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <button type="submit">Sign up</button>
      </form>
    </div>
  </main>
  
</body>
</html>